---
export interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Lutfi",
  description = "Personal website of Naufal Lutfi"
} = Astro.props;

import ThemeToggle from '../components/ThemeToggle';
import Sakana from "../components/SakanaWidget.tsx";
import LoadingScreen from "../pages/loading.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest">

    
    <script>
      function applyTheme(theme: string | null) {
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
      }

      // Initial theme check
      if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
      applyTheme('dark');
      } else {
      applyTheme('light');
      }

      // Listen for changes to the prefers-color-scheme media query
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', (e) => {
      const newColorScheme = e.matches ? 'dark' : 'light';
      applyTheme(newColorScheme);
      localStorage.setItem('theme', newColorScheme);
      });

      // Listen for changes to the localStorage theme
      window.addEventListener('storage', (e) => {
      if (e.key === 'theme') {
        applyTheme(e.newValue);
      }
      });
    </script>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
  </head>
  <Sakana client:load />
  <body class="bg-white dark:bg-gray-900 text-gray-900 @dark:text-gray-100 font-sans leading-relaxed">
    <div class="container max-w-3xl mx-auto w-11/12 py-8">
      <slot name="header" />
      <main>
        <slot />
      </main>
      <slot name="footer" />
    </div>
  </body>
</html>

<!-- Client-side script -->
<script is:inline>
  // Check for saved theme preference
  const savedTheme = localStorage.getItem('theme');
  
  // Apply the theme preference if it exists
  if (savedTheme) {
    document.documentElement.setAttribute('data-theme', savedTheme);
  }
</script>